.header {
    width: 100%;
    height: 72px;
    background: #ffffff;
}

.inner {
    max-width: 1028px;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #ffc83d;
}

.actions {
    display: flex;
    gap: 12px;
}

.login {
    font-size: 14px;
    font-weight: 500;
    color: #ffc83d;
    background: #ffffff;
    border: 2px solid #ffc83d;
    border-radius: 6px;
    padding: 12px 10px;
    margin-right: 8px;
    transition: 0.3s;
}
.login:hover {
    color: #e6b200;
    border: 2px solid #e6b200;
}

.signup {
    font-size: 14px;
    color: #ffffff;
    background: #ffc83d;
    border: 2px solid #ffc83d;
    padding: 12px 10px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s;
}
.signup:hover {
    background: #e6b200;
    border: 2px solid #e6b200;
}